.card-wrapper{
    /* border-bottom: 1px solid rgba(0, 128, 128, 0.50); */
    box-shadow: 0 4px 2px -2px rgba(0, 128, 128, 0.5);
    padding-bottom: 15px;
    min-height: 250px;
    font-family: 'Ubuntu', sans-serif;
}
.image-wrapper{
    width: 80%;
    margin: 0px auto;
}
.message-image{
    float:left;
    width: 60%;
    height:175px;
    border-radius:50px;
    max-width: 250px;
}
.message-name{
    margin: 5px auto;
    font-size: 26px;
    font-family: 'Righteous', cursive;
}
.message-li{
    font-size: 16px;
    display: inline-block;
    margin: 3px 3px;
    border: 1px solid #7330D6;
    background-color: #7330D6;
    border-radius: 15px;
    padding: 0px 6px;
}
.message-button{
    float: left;
    height: 100px;
    width: 40%;
}
.message-icon{
    height: 60px;
    width: 60px;
    margin: 15px 20px 0 20px;
    background: whitesmoke;
    padding: 5px;
    border-radius:16px;
}

