.cardWrapper{
    border-bottom: 1px solid rgba(0, 128, 128, 0.50);
}
.imageWrapper{
    width: 80%;
    margin: 0px auto;
}
.messageImage{
    float:left;
    width: 60%;
    height:175px;
    border-radius:50px;
    max-width: 250px;
}
.messageName{
    margin: 5px auto;
    font-size: 26px;
}
.messageLi{
    font-size: 16px;
    display: inline-block;
    margin: 3px 3px;
    border: 1px solid #7330D6;
    background-color: #7330D6;
    border-radius: 15px;
    padding: 0px 6px;
}
.messageButton{
    float: left;
    height: 100px;
    width: 40%;
}
.messageIcon{
    height: 60px;
    width: 60px;
    margin: 15px 20px 0 20px;
    background: whitesmoke;
    padding: 5px;
    border-radius:16px;
}

