.messageBoardWrapper{
    background-color: #000000b0;
    min-height: 86vh;
    margin: 10px 0px 0px 15px;
}
.messageBoardHeader{
    width: 93%;
    margin: 10px auto;
    padding: 5px 0 20px 0;
    border-bottom: 1px solid rgba(0, 128, 128, 0.5);
    border-radius: 15px;
    font-size: 30px;
}
.alert{
    box-shadow: 0px 0px 5px 5px teal;
    width: 30px;
    margin: -22px auto 22px auto;
    border-radius: 23px;
    background: #7330D6;
}
.spacer{
    height:5px;
    width: 100%;
}