*{
  margin: 0;
  padding: 0;
}
html{
  background: blue;
  background: -moz-linear-gradient(top, blue 0%, teal 0%, blueviolet 72%, teal 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, blue), color-stop(0%, blueviolet), color-stop(72%, blueviolet), color-stop(100%, teal));
  background: -webkit-linear-gradient(top, blue 0%, teal 0%, blueviolet 72%, teal 100%);
  background: -o-linear-gradient(top, blue 0%, teal 0%, blueviolet 72%, teal 100%);
  background: -ms-linear-gradient(top, blue 0%, teal 0%, blueviolet 72%, teal 100%);
  background: linear-gradient(to bottom, blue 0%, teal 0%, blueviolet 72%, teal 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#474747', endColorstr='#000000', GradientType=0 );
  color: white;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Ubuntu', sans-serif !important;
}

/* FONT CLASSES BELOW */
.ubuntu{
  font-family: 'Ubuntu', sans-serif;
}
.righteous{
  font-family: 'Righteous', cursive;
}
/* FONT CLASSES ABOVE */

/* FOR HIDDEN SCROLL BARS BELOW */
::-webkit-scrollbar {
  width: 5px;
  background: #000000b0;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: none; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 25px;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: none;  */
}
/* FOR HIDDEN SCROLL BARS ABOVE */


/* HUNTER CSS */
.link
{
   color: rgb(255, 255, 255);
   text-decoration: none; 
   background-color: none;
}

.x {
   -webkit-user-select: none;
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none; 
    outline: none;
  }
/* HUNTER CSS */

