nav{
    background: #000000b0;
}
.brand-logo{
    left: 55px !important;
}

.right{
    height: 100%;
}

.hide-on-med-and-down {
    display: block !important;
  }
  #nav-mobile {
    display: none;
  }
  .button-collapse {
    display: none;
  }


@media only screen and (max-width: 992px) {
nav,
.brand-logo {
    transform: none !important;
    height: 63px !important;
    left: 1% !important;
}

}