nav{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000b0;
    position: -webkit-sticky;
    /* position: sticky; */
    top: 0px;
    z-index: 1000;
}
.title{
    margin-left: 3vw;
}

.side-nav {
    height: auto;
    top: 70px;
    background: black !important;
    color: white;
    display: flex;
    align-items: flex-start;
    /* border: 30px solid black; */
    border-radius: 10px;
}
.side-nav-message-board {
    height: 100% !important;
}

@media only screen and (max-width: 424px) {
    
    nav {
        height: 100px;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 0;
    }
    .side-nav {
        top: 105px;
    }
    .push-up-side-message-board {
        height: 150px;   
    }

    .title{
        margin: 0px 0px 20px 0px !important;
        height: 15px;
    }
}
