.main-search-input{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px !important;
}
.search-wrapper {
    margin: 0 auto;
    background: #000000b0;
    width: 95%;
    border-radius: 20px;
}