.grid-wrapper{
    display: inline;
    margin: 0 auto;
}

.grid-container {
  display: grid;
  margin: 5px auto;
  height: 100vh;
  width: 100vw;
  max-width: 1440px;
  grid-template-columns: .1fr 4fr 1.09fr;
  /* grid-template-rows: 1fr 1.1fr; */

}
.sectionWrapper{
    /* height: 100%; */
    /* width: 100vw; */

}

.sideWrapper{
    /* height: 100%; */
    width: 100%;
    text-align: center;

}

@media screen and (max-width: 1261px) {
    /* LARGE */
    .grid-container {
        display: grid;


        width: 100vw;
        max-width: 1440px;
        grid-template-columns: .1fr 3fr 1.5fr;
        grid-template-rows: 1fr 1.1fr;

      }
}

@media screen and (max-width: 901px) {
    /* MEDIUM */
    .grid-container {
        display: grid;
 

        width: 100vw;
        grid-template-columns: .01fr 1fr .02fr;
        grid-template-rows: 1fr 1.1fr;
  
      }
      .sideWrapper{
        display: none;
    }
    .navMessageIcon{
        display: block;
    }

}

@media screen and (max-width: 601px) {
    /* SMALL */
}

@media screen and (max-width: 426px) {
    /* Mobile */
    .grid-container {
        display: grid;
        margin: 0 auto;
        height: 100vh;
        width: 100vw;
        max-width: 1440px;
        grid-template-columns: .1fr 3fr 1.5fr;
        grid-template-rows: 1fr 1.1fr;

      }

      .sectionWrapper{
        /* height: 100%; */
        width: 100vw;
    
    }

}