/* .grid-wrapper{
    display: inline;
    margin: 0 auto;
}

.sectionWrapper{
    height: 100%;
    width: 100%;

}

.sideWrapper{
    height: 100%;
    width: 100%;
    text-align: center;

} */



@media screen and (max-width: 901px) {

    .grid-container {
        grid-template-columns: 0px 4fr 0px;
      }

    .right-area{
        display: none;
    }
    
}

@media screen and (max-width: 601px) {
    /* SMALL */
}