/* DEFINING GRID LAYOUT & AREAS BELOW */
.grid-container {
  display: grid;
  margin: 0px 0px;
  grid-template-columns: 50px 4fr 1fr;
  grid-template-rows: 0px 1fr;
  grid-gap: 0px 0px;
  grid-template-areas: "nav-gap nav-gap nav-gap" "left-area center-area right-area";
  max-width: 1440px;
  margin: 0 auto;
}

.nav-gap { grid-area: nav-gap; }

.icon-area { grid-area: icon-area; }

.left-area { grid-area: left-area; }

.center-area { grid-area: center-area; }

.right-area { grid-area: right-area; }

/* DEFINING GRID LAYOUT & AREAS ABOVE */




/* REVIEW MEDIA QUERIES */
@media screen and (max-width: 1261px) {
    /* LARGE */
      

}

@media screen and (max-width: 901px) {

    .right-area{
        display: none;
    }
    
}

@media screen and (max-width: 601px) {
    /* SMALL */
}