.settings-username-password-wrapper{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 30px 1fr 1fr 30px;
    grid-template-rows: 40px 1fr 40px;
    grid-gap: 10px;

}

.username-color-1{
    background: rgba(255, 255, 255, 0); 
    transition: all 250ms ease-in-out;
}

.username-color-2{
    background: rgba(255, 0, 0, 0.164); 
    transition: all 250ms ease-in-out;
}

.username-color-3{
    background: rgba(251, 255, 0, 0.164); 
    transition: all 250ms ease-in-out;
}

.username-color-4{
    background: rgba(0, 255, 34, 0.164); 
    transition: all 250ms ease-in-out;
}

.username-color-5{
    background: rgba(4, 0, 255, 0.164); 
    transition: all 250ms ease-in-out;
}

.username-color-6{
    background: rgba(255, 0, 242, 0.164); 
    transition: all 250ms ease-in-out;
}



.username-form-wrapper{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-rows: 250px 1fr 100px;
}

.password-form-wrapper{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-rows: 200px 1fr 100px;
}


.username-bubble{
    background: white;
    border-radius: 15px;
    width: 100%;
    height: 50px;
}


.messaging-form{
    width: 95%;
    margin-top: -15px;
    color: black;
}

.settings-username-text{
    text-align: center;
}

.settings-username-text-2{
    color: #7330D6;
    font-weight: bolder;
}

.squareButton{
    height: 50px;
    width: 100px;
    border-radius: 20px;
    margin-top: 3px;
    text-align: center;
    font-size: 15px;
    color: white;
    background: #7330D6;
}


.squareButton:focus{
    height: 50px;
    width: 100px;
    border-radius: 20px;
    margin-top: 3px;
    text-align: center;
    font-size: 15px;
    color: white;
    background: #7330D6;
}

.username-input-wrapper{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px; 

}

.password-input-wrapper{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px 100px; 
}



@media screen and (max-width: 510px) {
    
    .settings-username-password-wrapper{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40px 1fr 40px;
        grid-gap: 10px;
    
    }




}