
.carousel {
    perspective: 90%;
}

.carousel-item {
    background: #000000b0;
    height: 400px !important;
    width: 300px !important;
} 

.carousel-card {
    display: grid !important;
    grid-template-columns: 100%;
    grid-template-rows: 80% 20% ;
}

.carousel-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    padding: 5px;
    
}
.card,
.card-content {
    padding: 0px !important;
}

.carousel-content {
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.name-and-distance {
    margin-top: 6px;
    background: #000000b2;
    padding: 0px 5px;
    border-radius: 10px;
    color: lawngreen;
}

.carousel-msg-btn {
    position: absolute;
    bottom: 90px;
}



