
.carousel {
    perspective: 90%;
    user-select: none;
}

.carousel-item {
    background: #000000b0;
    height: 400px !important;
    width: 300px !important;
} 

.carousel-card {
    display: grid !important;
    grid-template-columns: 100%;
    grid-template-rows: 80% 20% ;
}

.carousel-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    padding: 5px;
    
}
.card,
.card-content {
    padding: 0px !important;
}

.carousel-content {
    height: 395px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.name-and-distance {
    margin-top: 6px;
    background: #000000b2;
    padding: 0px 5px;
    border-radius: 10px;
    color: lawngreen;
}

.carousel-msg-btn {
    position: absolute;
    bottom: 90px;
}

.carousel-table {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 103px;
    overflow-y: scroll;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.carousel-table-row{
    display: inherit;
    width: 50%;
    height: 33%;
    justify-content: center;
    box-shadow: 0 4px 2px -2px rgba(0, 128, 128, 0.5);
}



