.resultsWrapper{
    display: grid;
    margin: 10px auto;
    padding-left: 15px;
    width: 80%;
    grid-template-columns: 1fr 3fr;
    background: #000000b0;
    /* border-bottom: 3px solid black; */
}
.resultsImage{
    height: 150px;
    width: 150px;
    background: rgba(0, 128, 128, 0.5);
    border-radius: 20px;
    margin: 3px auto;
}
.resultsName{
    margin: 3px;
    width: 150px;
}
.resultsSection{
    height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.resultsButton{
    margin: 3px auto;
    width: 150px;
}
.float{
    float: left;
    display: inline-block;
}

@media screen and (max-width: 601px) {
    /* SMALL */
    .resultsWrapper {
        width: 100%;
    }
}